{{set . "title" "gobrew::fw"}}
{{template "header.html" .}}

<header>
  <div class="row">
      <h1>gobrew::fw</h1>
      <p>gobrew aims to make it easy to develop with multiple version of Go, as well as setting up environmental paths.</p>
      <p>gobrew::fw aims to make it possible to use gobrew inside a restrictive LAN or Firewall just like you do at home.</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
